@use 'variables' as vars;
html{
    font-size: 16px;
    font-weight: normal;
    font-family: Overpass;
}
body{
    background: vars.$white;
}
p{
    line-height: 130%;
}
input{
    padding: 15px;
    
    width: 100%;
    border-radius: 10px;
}



.container{
    width:1400px;
    padding: 0 20px;
    margin: 0 auto;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}
.title{
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
    max-width: 500px;
    margin-left:  auto;
    margin-right: auto;
}
.error{
    color: vars.$white ;
    font-size: 18px;
    margin: 10px 0 10px 0;
    padding: 20px;
    background: vars.$red;
    text-align: center;
    width: 100%;
}